* {
  font-family: Roboto;
}

h1 {
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 50px 0px 50px 0px;
  margin: 0px;
}

li{
  padding: 0px;
  margin: 0px;
}
div {
  background-color: #444444;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.nav-button {
  margin: 0px 15px 0px 15px;
  padding: 3px 0px 3px 0px;
  border: none;
  font-size: 17px;
  background-color: #444444;
  color: white;
}

.nav-button:hover {
  color: #bebebe;
}

.nav-button:active {
  color: #929292;
  background: #333333;

}



article {
  padding: 20px 50px;
  min-width: 400px;
  max-width: 25%;
  min-height: 300px;
  max-height: 600px;
  /* margin: 10px; */
  background: #f4f4f4;
  border: 1px solid #efefef;
  text-align: center;
  display: flex;
  flex-direction: column;

}

img {
  width: auto;
  max-width: 100%;
  min-width: 15%;
  align-self: center;
}


section {
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
button {
  padding: 0px 20px 0px 20px;
  border-radius: 10%;
  
}



ul {
  list-style: none;
}

.buy-button {
  padding: 10px 0px 10px 0px;
  border: none;
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: center;

}

.buy-button:hover {
  background-color: #444444;
  color: white;
}

.buy-button:active {
  background-color: #dbdbdb;
  color: rgb(159, 159, 159);
}
.cool-form{
  display: none;
}
h2 {
  padding: 17px;
}

p {
  color: #4f4f4f;
  font-weight: 400;
}

.price {
  color: black;
  margin-top: auto;
  font-size: 20px;
  font-weight: 500;
}


@media (max-width: 768px) {
  section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  article {
    width: 100%;
    position: relative;
    min-height: 350px;
    max-height: 30%;
    background: #f4f4f4;
    border: 1px solid #efefef;
    text-align: center;
    max-width: none;
    min-width: unset;

  }

  .buy-button {
    margin: 0 40% 30px 40%;
    border: none;
    background-color: #333333;
    color: white;
  }

  img {
    height: 40%;
    align-self: center;
    border-radius: 30%;
  }
  div{
    display: none;
  }

  p {
    display: none;
  }

  ul {
    display: none;
  }

  label{
    color:#ffffff;
  }
  .cool-form{
    display: block;
  }
  form{
    display: flex;
    justify-content: center;

  }

  cool-form:hover{
    background:#444444;
  }
  nav{
    background-color: #444444;
    padding: 20px;
  }
  select{
    font-family: Roboto;
    font-weight: 400;
    font-size: 13px;
  }

} 